@model AppUserDTO

<form id="RegForm">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2>Register as General User</h2>
            <hr />

            <div class="mb-3">
                <label>Username</label>
                <input id="UserName" asp-for="UserName" class="form-control" />
            </div>
            <div class="mb-3">
                <label>Password</label>
                <input type="password" id="PasswordHash" asp-for="PasswordHash" class="form-control" />
            </div>
            <div class="mb-3">
                <label>Email</label>
                <input id="Email" asp-for="Email" class="form-control" />
            </div>
        </div>
    </div>
    <input type="button" value="Signup" onclick="AddUser()" class="btn btn-success"></input>
</form>

<script src="~/js/Auth.js"></script>