
@model CategoryDTO

<form id="CategoryForm">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2> Edit Category</h2>
            <hr />
            
            <div class="mb-3"> 
                <label>Category ID</label>
                <input id="Id" asp-for="Id" disabled class="form-control" />
                <label>Category Name</label>
                <input id="CategoryName" asp-for="CategoryName" class="form-control" />
            </div>
        </div>
    </div>
    <input type="button" value="Save" onclick="SaveFormData()" class="btn btn-success"></input>
    <a asp-controller="Category" asp-action="Index" class="btn btn-info">Back to List</a>
</form>

<script src="~/js/Category.js"></script>